$fa-font-path:        "../fonts/fontawesome/webfonts";
@import "normalize";
@import "../fonts/fontawesome/scss/fontawesome.scss";
@import "../fonts/fontawesome/scss/solid.scss";

* {
  box-sizing: border-box;
}
.text-center{
  text-align: center;
}

.App {
  padding: 15px;
  header {
    width: 100%;
    .searchInput {
      width: 100%;
      margin: 0 auto;
      border: 1px solid black;
      padding: 10px 15px;
      font-size: 18px;
      font-weight: 500;
      border-radius: 100px;
      outline: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      &:not(:focus) {
        &[value=""] {
          margin: calc(50vh - 15px) auto 0;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
    }

    .searchResults {
      margin: 0;
      padding: 0;
      list-style: none;
      font-weight: 500;
      cursor: pointer;
      li {
        padding: 10px 15px;
        font-size:18px;
        &:first-child {
          padding-top: 20px;
        }
      }
    }
  }
  main{
    .HarborFilter{
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 20px;  
      cursor: pointer;
      .active{
        font-weight:bold;
        position: relative;
        &::after {
          content: "\f0d7";
          font-family: "Font Awesome 5 free";
          position: absolute;
          top: 15px;
          left: 0;
          right: 0;
          text-align: center;
        }
      }
    }
    .Departures{
      margin: 0;
      padding: 0;
      list-style: none;
      font-weight: bold;
      li{
        padding:10px 15px;
      }
    }
  }
}
